<% layout("ppulayouts/ppuboilerplate") %>
<div class="row mt-3">
<div class="col-8 offset-2">

<h3>Ppu Post</h3>
</div>
    <div class="card col-6 offset-2 show-card">
        <img 
        src="<%= ppulist.image %>" 
        class="card-img-top show-img" 
        alt="ppulist_image"
        />
        <!-- <div class="card-body"> 
            <p class="card-text">
                <b><%= ppulist.title %></b> <br>
                <%= ppulist.description %> <br>
                <strong>Posted By:</strong> <%= ppulist.postedBy %> <br>
                <strong>Time:</strong> <%= ppulist.time ? new Date(ppulist.time).toLocaleString("en-IN", { timeZone: "Asia/Kolkata" }) : "No Time Available" %> <br>
            </p>
            
        </div> -->

        <div class="card-body"> 
            <p class="card-text">
                <b><%= ppulist.title %></b> <br>
                <%= ppulist.description %> <br>
                <strong>Posted By:</strong> <%= ppulist.postedBy %> <br>
                <strong>Time:</strong> <%= ppulist.time ? new Date(ppulist.time).toLocaleString("en-IN", { 
                    day: '2-digit',
                    month: 'short',
                    year: 'numeric',
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: true
                }) : "No Time Available" %> <br>
            </p>
        </div>
    </div>

   <br />

<div class="btns">
    <a 
    href="/ppulists/<%= ppulist._id %>/editpost" 
        class="btn btn-warning offset-2">
        Edit Post</a
        >
        
<form method="POST" action="/ppulists/<%= ppulist._id %>?_method=DELETE">
    <button class="btn btn-warning offset-4">Delete</button>
</form>
</div>
</div>
